.flowchart1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-left: 5px solid #1e90ff;
  border-right: 5px solid #1e90ff;
}

.flowchart1 .react-flow {
  border: 5px solid #1e90ff;
  border-radius: 18px;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flowchart1 .classes-card {
  border: 5px solid #1e90ff !important;
  margin: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flowchart1 .footer {
  border-top: 10px solid rgb(39, 78, 160);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding: 5px;
  height: 10vh;
  color: white;
  background-color: #1e90ff;
}
