.flowchart4 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flowchart4 .react-flow {
  border: 5px solid #663399;
  border-radius: 18px;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flowchart4 .classes-card {
  border: 5px solid #663399 !important;
  margin: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flowchart4 .footer {
  border-top: 10px solid rgb(75, 0, 130);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 18px;
  color: white;
  background-color: #663399;
}
