.flowchart1 {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flowchart1 .react-flow {
  border: 5px solid #1e90ff;
  border-radius: 18px;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flowchart1 .classes-card {
  border: 5px solid #1e90ff !important;
  margin: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flowchart1 .flowchart-header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  background-color: #1e90ff;
  border-bottom: 10px solid rgb(39, 78, 160);
}

.flowchart1 .MuiListItem-root {
  width: auto !important;
}
