.App {
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-flow {
  border: 5px solid black;
  border-radius: 18px;
  margin-top: 50px;
}

.description {
  padding: 60px;
  font-size: 20px;
  font-weight: bold;
}
